* {
    font-family: "Consolas";
    font-size: 15px;
}

QTextBrowser#userBubble,
QTextBrowser#assistantBubble {
    border-radius: 10px; 
    padding: 8px;
    margin: 4px;
    border: none;
}

QFrame#userInput {
    border-radius: 15px;

}


QWidget#newFileScreenScrollContent QFrame {
    border-radius: 15px;

}




