QTextBrowser#userBubble {
    background-color: #333333;
    color: white;
}

QTextBrowser#assistantBubble {
    background-color: transparent;
    color: white;

}

QFrame#chatWindowToolBar {
    background-color: gray;

}

QFrame#userInput {
    background-color: gray;

}

QWidget#newFileScreenScrollContent QFrame{
    background-color:gray;

}

QTextEdit#inputTextBox {
    background-color:gray;

}



